.button {
  color: #ffffff;
  text-align: center;
  padding: 0.7rem;
  margin-top: 3px;
  margin-left: 5px;

  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: filter 0.3s ease-in-out;

  &:hover {
    filter: brightness(0.9);
  }
}

.medium {
  width: 111px;
  height: 41px;
  background-color: #0c400d;
  border-radius: 10px;
}
