@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Prompt:ital,wght@0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Prompt:ital,wght@0,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,300&family=Prompt:ital,wght@0,500;1,600&display=swap');

.kitchen {
  width: 72.2%;
  height: auto;
  margin-left: 8%;
  

  .title-preparing {
    display: flex;
    h1 {
        margin-top: 4rem;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 11px;
    }

    h2 {
        margin-top: 4rem;
        margin-left: 34.2rem;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 11px;
    }
  }


  .align-preparing-itens {
    margin-top: 2.5rem;
  }

  .align-ready-itens {
    margin-top: -26.5rem;
    margin-left: 46.1rem;
  }
}
